<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
        <meta name="msapplication-TileColor" content="#5bc0de"/>
        <meta name="msapplication-TileImage" content="{{assets}}/img/metis-tile.png"/>
        
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/lib/magic/magic.css">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1669764-16', 'onokumus.com');
  ga('send', 'pageview');

</script>
  </head>
  <body class="login">

	      {{> body }}

	      
      <script src="{{assets}}/lib/jquery.min.js"></script>
      <script src="{{assets}}/lib/bootstrap/js/bootstrap.js"></script>
	  <script src="{{assets}}/lib/utils.js"></script>
      
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc13.min.js"></script>
      <script type="text/javascript">
        // Configure your region
        AWS.config.region = 'us-west-2';
        $('.form-signin').bind('submit', function()
           {
               try{
               var form = this,
               accessKeyId = $('input[name=access-key-id]', form).val(),
               secretAccessKey = $('input[name=secret-access-key]', form).val(),
               rootDiectory = $('input[name=root-directory]', form).val();
               
               AWS.config.update({
                   accessKeyId: accessKeyId,
                   secretAccessKey: secretAccessKey
               });
               var s3 = new AWS.S3({ region: 'us-west-2' }),
               bucket = 'serverfire-mybucket';
               $('button', form).prop('disabled', true);
               s3.listBuckets({}, function(err, data)
                  {
                      if(err)
                      {
                          alert("Couldn't connect to aws s3: " + err);
                      }
                      else
                      {
                          console.log(data);
                          /*
                            if(!supports_html5_storage())
                                alert("This app does not support your browser");
                            else
                            {
                                var auth_obj = {
                                    accessKeyId: accessKeyId,
                                    secretAccessKey: secretAccessKey,
                                    rootDirectory: rootDirectory
                                };
                                localStorage.setItem('libreliodev-auth', JSON.stringify(auth_obj));
                                document.location = "index.html";
                            }
                          */
                      }
                      $('button', form).prop('disabled', false);
                  });
               }catch(e) {
                   alert(e);
               }
               /*s3.headObject({
                   Bucket: bucket,
                   Key: */
               return false;
           });
      </script>
      
      <script>
            $('.list-inline li > a').click(function() {
                var activeForm = $(this).attr('href') + ' > form';
                //console.log(activeForm);
                $(activeForm).addClass('magictime swap');
                //set timer to 1 seconds, after that, unload the magic animation
                setTimeout(function() {
                    $(activeForm).removeClass('magictime swap');
                }, 1000);
            });

        </script>
  </body>
</html>
