<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title localize>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{assets}}/css/main.min.css">
    {{#if stylesheets}}
    {{css stylesheets}}
    {{/if}}

    <script>
      var config = {{ jsonStringify config }},
      assets = '{{ assets }}';
    </script>

    <script src="{{assets}}/lib/url.min.js"></script>
    <script src="{{assets}}/js/helper.js"></script>
<script>
(function(){
var httpreq_open = XMLHttpRequest.prototype.open;
XMLHttpRequest.prototype.open = function(m, url_str, a2, a3, a4)
{
  if(url_protocol(url_str) === null || 
     url('hostname', url_str) == config.s3Bucket + '.s3.amazonaws.com')
    url_str = 'http://localhost/' + encodeURIComponent(url_str);
  return httpreq_open.call(this, m, url_str, a2, a3, a4);
}
})();
</script>

    <script src="{{assets}}/lib/jquery.min.js"></script>
    <script src="{{assets}}/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{assets}}/lib/sprintf.min.js"></script>
    <script src="{{assets}}/js/dhtml.js"></script>
    <script src="{{assets}}/lib/localeplanet/icu_{{config.locale}}.js"></script>
    <script src="{{assets}}/lib/localeplanet/translate.js"></script>
    <script src="{{assets}}/js/localize.js"></script>
    <script src="{{assets}}/js/main.js"></script>

    {{#if javascripts}}
    {{js javascripts}}
    {{/if}}

    {{#if scripts}}
    <script>
      {{scripts}}
    </script>
    {{/if}}

  </head>
  <body{{#if theme}} class="{{theme}}"{{/if}}>
<!-- social media scripts -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{config.idFedFBAppId}}&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- main-content -->
{{> body }}
<!-- #main-content -->
  </body>
</html>
